<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<meta name="Description" content="TexasVine: Texas Victim Information Notification Every Day" />
<meta name="Distribution" content="Global" />
<meta name="Robots" content="index,follow" />


<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="cache-control" content="no-cache" /><meta http-equiv="expires" content="3600" />
<meta name="revisit-after" content="2 days" /><meta name="robots" content="index,follow" />
<meta name="publisher" content="TexasVine.com." />
<meta name="copyright" content="TexasVine.com" />
<meta name="author" content="TexasVine.com" /><meta name="distribution" content="global" />

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />



<script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'>
</script>
<script type='text/javascript'>
    GS_googleAddAdSenseService("ca-pub-3739159678199879");
    GS_googleEnableAllServices();
</script>
<script type='text/javascript'>
    GA_googleAddSlot("ca-pub-3739159678199879", "texasvine160x600");
</script>
<script type='text/javascript'>
    GA_googleFetchAds();
</script>



<meta name="Keywords" content="texas vine inmate locator texasvine">

<link rel="stylesheet" href="/images/BrightSide.css" type="text/css" />

<title>{{ page.title }}</title>
  
</head>

<body>
<!-- wrap starts here -->
<div id="wrap">
  
  <div id="header">       
    <div id="logoPhoto" ></div>
    <h1 id="logo">Texas<span class="green">Vine</span>.<span class="gray">com</span></h1>
    <h2 id="slogan">Victim Information and Notification Everyday</h2> 
  
    
      
    <!-- Menu Tabs -->
    <ul>
      <li {% if page.nav == 'home' %} id="current" {% endif %}   ><a href="{{site.baseurl}}/index.html"><span>Home</span></a></li>
      <li {% if page.nav == 'blog' %} id="current" {% endif %}  ><a href="{{site.baseurl}}/blog.aspx"><span>Recent Vine News</span></a></li>
      <li {% if page.nav == 'resource' %} id="current" {% endif %}  ><a href="{{site.baseurl}}/page/VictimResource.aspx"><span>Victime Resource</span></a></li>
      <li {% if page.nav == 'nation' %} id="current" {% endif %} ><a href="{{site.baseurl}}/NationWideVine.aspx"><span>Nation Wide VINE</span></a></li>
      <li {% if page.nav == 'dui' %} id="current" {% endif %} ><a href="{{site.baseurl}}/page/Texas-DUI.aspx"><span>Texas DUI</span></a></li>     
    </ul> 
                          
  </div>  
        
  <!-- content-wrap starts here -->
  <div id="content-wrap">   
    <div id="headerAds" align="center">

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- tv-top-text-display -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-6606011596628417"
           data-ad-slot="8443191463"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

    </div>
      <br/>
    <div id="sidebar">              
      


      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- texasvine-left -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:120px;height:600px"
         data-ad-client="ca-pub-6606011596628417"
         data-ad-slot="6742150488"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


         

        
        
    
    </div>

      
    <div id="main"> 
      

   {{ content }}
    <br/>
    </div>  
      
    <div id="rightbar">
      
      
    </div>      
      
  <!-- content-wrap ends here -->   
  </div>

<!-- footer starts here --> 
<div id="footer">
  
  <div class="footer-left">
    <br>
  </div>
  
  <div class="footer-right">
  <br/>
  </div>
  
</div>
<!-- footer ends here -->
  
<!-- wrap ends here -->
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1747220-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
